# Flutter/Dart
.dart_tool/
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/

# iOS
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/

# Environment
.env
.env.local

# IDEs
.idea/
.vscode/
*.iml
